<div id="smartify-form-simple-overlay">

    <fields-creator ref="fieldsObj"
                    :template-object="templateObject"
                    :schema="schema"
                    :model="model"
                    :options="formOptions"
                    @validated="onValidated">
    </fields-creator>

    <button @click.prevent="save" class="btn btn-default">{{ buttonLabel }}</button>

</div>