<div v-if="schema != null" class="vue-form-generator">

    <fieldset v-if="schema.fields" :is="tag">
        <template v-for="field in fields">
            <div v-if="fieldVisible(field)" :class="getFieldRowClasses(field)" class="form-group">
                <label v-if="fieldTypeHasLabel(field)" :for="getFieldID(field)">
                    {{ field.label }}
                    <span v-if="field.help" class="help"><i class="icon"></i>
                        <div v-html="field.help" class="helpText"></div>
                    </span>
                </label>

                <div class="field-wrap">
                    <component :is="getFieldType(field)" :disabled="fieldDisabled(field)" :model="model" :schema="field" :formOptions="options"
                               @model-updated="modelUpdated" @validated="onFieldValidated"></component>

                    <div v-if="buttonVisibility(field)" class="buttons">
                        <button v-for="btn in field.buttons" @click="buttonClickHandler(btn, field, $event)" :class="btn.classes">{{ btn.label }}</button>
                    </div>

                </div>

                <div v-if="field.hint" class="hint">{{ field.hint }}</div>
                <div v-if="fieldErrors(field).length &gt; 0" class="errors help-block">
                    <span v-for="(error, index) in fieldErrors(field)" track-by="index">ERROR: {{ error }}</span>
                </div>
            </div>
        </template>
    </fieldset>
    <template v-for="group in groups">
        <fieldset>
            <legend v-if="group.legend">{{ group.legend }}</legend>
            <template v-for="field in group.fields">
                <div v-if="fieldVisible(field)" :class="getFieldRowClasses(field)" class="form-group">
                    <label v-if="fieldTypeHasLabel(field)" :for="getFieldID(field)">{{ field.label }}<span v-if="field.help" class="help"><i class="icon"></i>
                    <div v-html="field.help" class="helpText"></div></span></label>
                    <div class="field-wrap">
                        <component :is="getFieldType(field)" :disabled="fieldDisabled(field)" :model="model" :schema="field" :formOptions="options"
                                   @model-updated="modelUpdated" @validated="onFieldValidated"></component>
                        <div v-if="buttonVisibility(field)" class="buttons">
                            <button v-for="btn in field.buttons" @click="buttonClickHandler(btn, field, $event)" :class="btn.classes">{{ btn.label }}</button>
                        </div>
                    </div>
                    <div v-if="field.hint" class="hint">{{ field.hint }}</div>
                    <div v-if="fieldErrors(field).length &gt; 0" class="errors help-block"><span v-for="(error, index) in fieldErrors(field)" track-by="index">{{ error }}</span>
                    </div>
                </div>
            </template>
        </fieldset>
    </template>
</div>