<div>
    <component :is="currentEngine"
               :template-object="templateObject"
               :name="currentEngine"
               :schemas="loadedSchemas"
               :options="options"
               :model="formModel"
               @genericEvent="onGenericEvent">
    </component>
</div>
