<template>
    <div id="app">

        <img src="./assets/logo.png">

        <smartify-form :schemas='schemas' :options="options"/>

    </div>
</template>

<script>

    export default {
        name: 'app',
        data () {
            return {
                options: {
                    template: 'nextify'
                },
                schemas: {
                    form01: {
                        fields: [{
                            type: "text",
                            label: "ID (disabled text field)",
                            model: "id",
                            readonly: true,
                            disabled: true
                        }, {
                            type: "text",
                            label: "Name",
                            model: "name",
                            placeholder: "Your name",
                            featured: false,
                            hint: '-- Dica do campo ---',
                            help: '-- Teste de Ajuda --',
                            required: true,
                            validator: 'string' // VueFormGenerator.validators.string
                        }, {
                            type: "password",
                            label: "Password",
                            model: "password",
                            min: 6,
                            required: true,
                            hint: "Minimum 6 characters"

                        }, {
                            type: "select",
                            label: "skills",
                            model: "type",
                            values: ["Javascript", "VueJS", "CSS3", "HTML5"]
                        }, {
                            type: "email",
                            label: "E-mail",
                            model: "email",
                            placeholder: "User's e-mail address"
                        }, {
                            type: "checkbox",
                            label: "Status",
                            model: "status",
                            default: true
                        }
                        ]
                    },
                    form02: {
                        fields: [{
                            type: "text",
                            label: "Nome",
                            model: "id",
                            readonly: true,
                            disabled: true
                        }, {
                            type: "text",
                            label: "Sobrenome",
                            model: "name",
                            placeholder: "Your name",
                            featured: true,
                            required: true,
                            validator: 'creditCard'
                        }, {
                            type: "password",
                            label: "Senha",
                            model: "password",
                            min: 6,
                            required: true,
                            hint: "Minimum 6 characters"

                        }, {
                            type: "select",
                            label: "Habilidades",
                            model: "type",
                            values: ["Javascript", "VueJS", "CSS3", "HTML5"]
                        }, {
                            type: "email",
                            label: "E-mail",
                            model: "email",
                            placeholder: "User's e-mail address"
                        }, {
                            type: "checkbox",
                            label: "Ativo",
                            model: "status",
                            default: true
                        }]
                    }
                }
            }
        }
    }






</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }

    h1, h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }










</style>
