<div style="position: relative">

    <div id="smartify-form-simple-overlay" v-show="loading">   </div>

    <div id="smartify-form-simple-overlay-text" v-show="loading">{{ waitMessage }}</div>

    <fields-creator ref="fieldsObj"
                    :template-object="templateObject"
                    :schema="schema"
                    :model="model"
                    :options="formOptions"
                    @validated="onValidated">
    </fields-creator>

    <button @click.prevent="save">{{ buttonLabel }}</button>

</div>