
#smartify-form-simple-overlay {
    background-color: black;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

#smartify-form-simple-overlay-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    z-index: 3;
    cursor: pointer;
    background-color: white;
    padding: 10px;
}