<template>
    <div id="app">
        <!--<img src="./assets/logo.png">-->
        <h1></h1>
        <h2>Smartify Form Demo 01</h2>


        <h1>App.vue Model</h1>
        <pre style="text-align: left" v-html="model"></pre>
        <hr>

        <div class="container">
            <smartify-form :options="options" :model="model" @save="onSave"></smartify-form>
        </div>


    </div>
</template>

<script>
  export default {
    name: 'app',
    methods: {

      onSave (form, model, isNew) {

        console.log(model)

        if (form.isNew) {
          form.id = 23
        }


      },

    },
    data () {
      return {
        model: {
//          id: 1,
          name: 'John Doe',
          password: 'J0hnD03!x4',
          skills: ['Javascript', 'VueJS'],
          email: 'john.doe@gmail.com',
          status: true,
        },
        options: {
          template: 'bootstrap',
          schemas: 'http://localhost:3000/schemas',
          apiUrl: 'http://localhost:3000/posts',
          id: 9,
          waitMessage: 'Quase lá...',
          onSchemasLoaded: schema => {

            // Customiza Schema
            schema['default'].fields[0].label = 'Interceptado'

            return schema

          },
        },
      }
    },
  }
</script>


