.vue-form-generator .field-input .wrapper {
    width: 100%;
}
.vue-form-generator .field-input input[type="radio"] {
    width: 100%;
}
.vue-form-generator .field-input input[type="color"] {
    width: 60px;
}
.vue-form-generator .field-input input[type="range"] {
    padding: 0;
}
.vue-form-generator .field-input .helper {
    margin: auto 0.5em;
}